html, body {
    height: 100%; /* Задает высоту 100% для html и body */
    margin: 0; /* Убирает отступы по умолчанию */
    padding: 0; /* Убирает внутренние отступы по умолчанию */
}

body {
    display: flex;
    flex-direction: column; /* Устанавливает направление элементов в колонку */
    min-height: 100vh; /* Обеспечивает, что body занимает как минимум полную высоту окна */
}

main {
    flex: 1; /* Позволяет основному контенту расти и занимать оставшееся пространство */
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Устанавливает box-sizing для всех элементов */
}

footer {
    background-color: #343a40; /* Цвет фона футера */
    color: white; /* Цвет текста футера */
    padding: 10px 0; /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}
